*{
    margin: 0px;
    background-color: rgb(39, 39, 177);
}
body{
    border: double 10px coral;
}
h1{
    height: 70px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: blue;
    text-align: center;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: darkgray;
    text-align: center;
    margin-top: 20px;
}
#navbar{
    height: 40px;
    background-color: rgb(35, 35, 207);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
#p1{
    background-image: url(p1.jpg);
    background-size: cover;
    height: 600px ;
    width: 600px;
}
#p2{
    background-image: url(p2.jpg);
    background-size: cover;
    height: 600px ;
    width: 600px;
}
#p3{
    background-image: url(p3.jpg);
    background-size: cover;
    height: 600px ;
    width: 600px;
    margin-top: 20px;
}
#p4{
    background-image: url(p4.jpg);
    background-size: cover;
    height: 600px ;
    width: 600px;
    margin-top: 20px;
}
#tq{
    font-size: 30px;
    color: beige;
    text-align: center;
    margin-top: 30px;
}